header {
	margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.left_sidebar {
    float: left;
    border: 1px solid black;
    max-width: 200px;
    margin-right: 20px;
    padding: 10px;
}
.left_sidebar .side input , .left_sidebar .side select{
	margin: 10px;
}
.left_sidebar .side input[type=submit] {
	padding: 5px 10px 5px 10px;
}
#content {
	margin: 0px 200px 0px 200px;
}
.side input[type=text] {
	width: 50px;
	margin: 10px;
}
.pagination {
	text-align: center;
}
.pagination li {
	display: inline;
	padding: 5px;
}
.blk {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}
.section .item {
	border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.active {
	color: red;
}
.item {
	margin-bottom: 10px;
}
.ubm {
	text-align: center;
    font-weight: bold;
}
footer {
	clear: both;
}